@colPadding1: 1rem;
@colPadding2: 2rem;
@colPadding3: 3rem;

.flex {
  width: 100%;
  .col {
    &.col-pd1{ padding: @colPadding1; }
    &.col-pd2{ padding: @colPadding2; }
    &.col-pd3{ padding: @colPadding3; }
    &.col-w25 { flex: 0 0 25%; }
    &.col-w75 { flex: 0 0 75%; }
    &.col-w50 { flex: 0 0 50%; }
  }
}
.flex-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.flex-height-fit {
  min-height: 100vh;
}

.flex-grid-fit {
  // fit boxes width to inner content
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-wrap {
  flex-flow: wrap;
}

.layout_2_cols {
  .flex-grid {
    // TMP test
    // border: 1px solid;
    #sidebar.col {
      flex: 0 0 25%;
    }
    #content.col {
      flex: 0 0 75%;
      // border: 1px dashed red;
      overflow: hidden;
    }
  }
  .section_info {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    img {
      max-height: 6em;
    }
  }
  #sidebar.col-left {
    ul.nav.context-menu {
      font-size: 150%;
      line-height: 200%;
      margin-right: -@colPadding3;
      a {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
  }
  #advanced_search {
    padding: 1em;
    &.collapse.in {
      border-top: 1px dashed #ddd;
    }
  }
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
