#wrapwrap{
  .listing {
    padding: 1em;
    .list-item {
      padding: 2em;
      &:not(.no-results),
      &:not(:last-child){
        border-bottom: 1px solid @fluxPurple;
      }
      h3 {
        font-weight: bold;
        width: 100%;
      }
      .item-content {
        .main-content-wrapper;
      }
      .tag-value {
        max-width: 80%;
      }
    }
    &.notification_listing{
      padding: 2em;
      margin-bottom: 2em;
      .ref_link{
        .view_related_label, .model_name{ display: none }
      }
    }
  }
  .cms_form_wrapper.mail_message.mode_search .listing{
    .main-content-wrapper;
    .center-block;
  }

  .white_content_wrapper .listing {
    .make_white_content_wrapper;
  }
  .listing-block {
    position: relative;
    .row {
      padding: 0.2em 1.5em;
    }
    .item-content {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 0.5em;
    }
    .row.last {
      margin-bottom: 1rem;
      .item-content{
        border-bottom: none;
      }
    }
    .actions {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
    .summary, .dates {
      font-size: 90%;
    }
  }
}
