#wrapwrap{
    .listing {
        .list-item {
            border-bottom: 1px solid @fluxPurple;
            padding-top: 30px;
            padding-bottom: 20px;
            // notification listing
        }
        &.notification_listing{
            .ref_link{
                .view_related_label, .model_name{ display: none }
            }
        }
    }
    .cms_form_wrapper.mail_message.mode_search .listing{
        .main-content-wrapper;
        .center-block;
    }
}
