[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:OCA/OCB.git

; Camptocamp
[submodule "odoo/external-src/odoo-dj"]
	path = odoo/external-src/odoo-dj
	url = git@github.com:camptocamp/odoo-dj.git
	branch = 9.0
[submodule "odoo/external-src/odoo-cloud-platform"]
	path = odoo/external-src/odoo-cloud-platform
	url = git@github.com:camptocamp/odoo-cloud-platform.git
; OCA
[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:OCA/server-tools.git
[submodule "odoo/external-src/server-env"]
	path = odoo/external-src/server-env
	url = git@github.com:OCA/server-env.git
[submodule "odoo/external-src/website-cms"]
	path = odoo/external-src/website-cms
	url = git@github.com:camptocamp/website-cms.git
	branch = add-cms_form
[submodule "odoo/external-src/social"]
	path = odoo/external-src/social
	url = git@github.com:OCA/social.git
[submodule "odoo/external-src/web"]
	path = odoo/external-src/web
	url = git@github.com:OCA/web.git
[submodule "odoo/external-src/server-auth"]
	path = odoo/external-src/server-auth
	url = git@github.com:OCA/server-auth.git
