[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:oca/ocb.git
[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:OCA/server-tools.git
[submodule "odoo/external-src/vertical-association"]
	path = odoo/external-src/vertical-association
	url = git@github.com:camptocamp/vertical-association.git
	branch = pending-merge-1823-master
[submodule "odoo/external-src/website-cms"]
	path = odoo/external-src/website-cms
	url = git@github.com:camptocamp/website-cms.git
	branch = add-cms_form
[submodule "odoo/external-src/odoo-cloud-platform"]
	path = odoo/external-src/odoo-cloud-platform
	url = git@github.com:camptocamp/odoo-cloud-platform.git
	branch = 9.0
[submodule "odoo/external-src/social"]
	path = odoo/external-src/social
	url = git@github.com:camptocamp/social.git
