#wrapwrap {
	// btns >>
	.btn{
		border-radius: 0;
	}
	.btn.btn-dark {
		background-color: @darkColor;
		color: white;
	}
	// >> btns

	// select2 >>
	.js_select2_categories {
		background-color: @darkColor;
	}
	.select2-container.select2-container-multi.form-control {
		display: block;
		border: none;
		border-radius: 0;
		background-color: @darkColor;
	}
	.form-control .select2-choice {
		border: 0;
		border-radius: 0;
		background-color: @darkColor;
	}
	.form-control.select2-container.select2-dropdown-open {
		border-radius: 0;
	}
	.form-control .select2-container.select2-dropdown-open .select2-choices {
		border-radius: 0;
	}
	.form-control.select2-container .select2-choices {
		border: 0 !important;
		border-radius: 0;
	}
	.select2-choices {
		background-color: @darkColor;
	}
	.select2-search-field {
		background-color: @darkColor;
		dropdown-bg: @darkColor;
	}
	.select2-container.select2-container-multi.form-control {
		background-color: @darkColor;
		border: 1px solid #fff
	}
	.select2-input {
		background-color: @darkColor;
		border: none !important;
		font-family: inherit;
	}
	// >> select2

	// profile progress bar styles >>
	.profile-progress-bar{
		width: 60%;
		margin: 2em auto 2em auto;
		overflow: hidden;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100%;
		&.step-1{
			background-image: url("/theme_fluxdocs/static/img/profile/profile-state-step-1.png");
		}
		&.step-2{
			background-image: url("/theme_fluxdocs/static/img/profile/profile-state-step-2.png");
		}
		&.step-3{
			background-image: url("/theme_fluxdocs/static/img/profile/profile-state-step-3.png");
		}
		.spacer{
			height: 90px;
		}
		.step{
			float:left;
			width: 33.33%;
			padding: 0 4%;
			text-align: center;
			display: table-cell;
			vertical-align: bottom;
			&.done .text{ font-weight: bold}
		}
	}
	@media only screen and (max-width : 640px) {
		.profile-progress-bar{
			width: 90%;
			.spacer{
				height: 50px;
			}
			.step{
				font-size: 90%;
				line-height: 95%;
			}
		}
	}
	// >> profile progress bar styles

	// my home boxes >>
	.my_home{
		.col {
			> div{
				margin-bottom: 3em;
			}
			.actions{
				padding: 1em 0;
				text-align: center;
				.btn {
					width: 45%;
				}
			}
		}
		// my/home
		.member-profile-table {
			width: auto;
			td {
				padding-left: 35px;
			}
			td:first-child {
				font-weight: bold;
			}
		}
		h3 {
			text-transform: uppercase;
			text-align: center;
			border-bottom: 1px solid @darkColor;
			font-weight: bold;
		}
		tr {
			border-top: 2px solid white;
		}
		th, td {
			padding: 0px;
		}
		.o_my_sidebar {
			display: none
		}
	}
	// >> my home boxes

	// search panel >>
	.search-panel{
		margin-top: 40px;
		.filter-row{
			margin-bottom: 20px;
			&.row-1{
				input[type="text"]{
					display: block;
					width: 75%;
					margin-right: 5%;
					float: left;
				}
				button[type="submit"]{
					display: block;
					width: 20%;
					float: left;
				}
			}
			.styled-select{
					&:nth-of-type(3n){
							margin-right: 0;
					}
					select{
							display: block;
							width: 120%;
					}
			}
		}
	}
	// >> search panel

	// item details >>
	// used also for details in listing
    .item-details {
        text-align: left;
        h2 {
            font-size: 23px;
            font-weight: bold;
            max-width: none;
            text-align: left;
            text-transform: none;
            margin-top: 0;
            margin-bottom: 12px;
        }
        h3 {
            display: none;
        }
        .item-description {
            margin-bottom: 28px;
        }
        .item-tags {
            strong{
                min-width: 120px;
                display: inline-block;
            }
            min-height: 29px;
        }
    }
	// >> item details

	// jumbotrons >>
	.jumbotron {
		&.top-image{
			background-size: cover;
			background-position: center center;
			height: 400px;
			width: 100%;
		}
	}
	// >> jumbotrons

	// status message >>
	.status_message{
	  position: fixed;
	  margin-top: 90px;
	  width: 100%;
	  .alert{
	    padding-top: 10px;
	    padding-bottom: 10px;
	  }
	}
	// >> status message

	// mosaic grid >>
	.mosaic.grid{
		width: 100%;
		/* clear fix */
		&:after {
		  content: '';
		  display: block;
		  clear: both;
		}
		/* ---- .grid-item ---- */
		.grid-item {
			width: 50%;
			height: 50%;
		  	float: left;
		  	overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-clip: content-box;
			background-position: center center;
			.sepia-filter;
		}
	}
	.project-references{
		.mosaic.grid{
			height: 600px;
		}
	}
	// >> mosaic grid

	.mgmt-actions{
		padding: 1em 0;
		// set width and centering
		.main-content-wrapper;
		.center-block;
		clear: both;
		overflow: hidden;
	}
	.delete_confirm{
		// TMP style here
		section.content{
			padding: 4em;
		}
	}

} // #wrapwrap wrapping end
