#wrapwrap{
    .listing {
        .list-item {
            border-bottom: 1px solid @darkColor;
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }
    .cms_form_wrapper.mail_message.mode_search .listing{
        .main-content-wrapper;
        .center-block;
    }
}
