.inline{ display: inline }
// .TODO: use functions to generate all the padding classes
.pt05{ padding-top: 0.5em }
.pt1{ padding-top: 1em }
.pb05{ padding-bottom: 0.5em }
.pb1{ padding-bottom: 1em }
.no-border{ border: none !important; }
.border-top{ border-top: 1px solid #fff; }
.border-bottom{ border-bottom: 1px solid #fff; }
.border-tnb{
	.border-top;
	.border-bottom;
}
.table{
	tbody.no-border,
	&.no-border{
		td,th {
			.no-border
		}
	}
}
.main-content-wrapper{
	// you can use this with `center-block` BS class
	// to create fluxdock content columns
	max-width: 646px;
}
.clickable{ cursor: pointer }
.white_bg{
	background-color: white;
	color: @darkColor;
}

.overlay{
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	z-index: 10;
	color: white;
	margin: 0;
	span{
		display: block;
	}
	&.info{
		text-align: left;
		padding: 0.5em;
		font-size: 0.9em;
	}
}

// sepia effect
.sepia-filter{
	-webkit-filter: sepia(5);
	-moz-filter: sepia(5);
	-o-filter: sepia(5);
	-ms-filter: sepia(5);
	filter: sepia(5);
	&:hover{
		-webkit-filter: none;
		-moz-filter: none;
		-o-filter: none;
		-ms-filter: none;
		filter: none;
	}
}
// >> sepia effect
