# DJ tool
Jinja2
autopep8
pylint
unicodecsv
# Improve mimetype guessing.
# Requires `libmagic1` to be installed sys-wide
python-magic

## PLATFORM
redis==2.10.5
python-json-logger==0.1.5
statsd==3.2.1

## PLATFORM, for s3 storage at Exoscale
boto==2.42.0


# auth_signup_verify_email + cms_account_form
validate_email

## queue
cachetools

## connector_importer_source_odoorpc
odoorpc

## custom
