<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="fluxdock_menu_project" name="Fluxdock"
        parent="base.menu_main_pm"
        sequence="99"
        groups="base.group_no_one,project.group_project_user"
        />

    <menuitem
        name="References" id="fluxdock_base_menu_references"
        parent="fluxdock_project.fluxdock_menu_project"
        groups="base.group_user"
        action="fluxdock_project.action_project_reference"
        />

    <menuitem
        name="Proposals" id="fluxdock_base_menu_proposals"
        parent="fluxdock_project.fluxdock_menu_project"
        groups="base.group_user"
        action="fluxdock_project.action_project_proposal"
        />

</odoo>
